# Database
DB_HOST=localhost
DB_NAME=uhewwnouchsina7_user_license
DB_USER=uhewwnouchsina7_user_license_tel
DB_PASS=D9W8$sk@6xA_4{R-

# Bakong KHQR
BAKONG_TOKEN=your_bakong_api_token_here
BAKONG_ACCOUNT_ID=yourname@bankname
BAKONG_MERCHANT_NAME= AiCAMBO
BAKONG_MERCHANT_CITY=PHNOM PENH
BAKONG_CURRENCY=USD

# Telegram Bot
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here

# Admin
ADMIN_USERNAME=admin
ADMIN_PASSWORD=$2y$10$aonmGX1iTqXcamtd.4YHguQKwx/VbH0CPTq4uLLXFtDODkPQwPPXG
ADMIN_PREFIX=Sina0852101@@

# Application
APP_URL=http://localhost/web
BASE_PATH=/web
APP_NAME=AICAMBO

# Webhook
WEBHOOK_SECRET=your_webhook_secret_here

# QR Settings
QR_EXPIRY_MINUTES=10
